<p id="notice"><%= notice %></p>

<div id="log"></div>
</div>
<br>
<!-- <h1>Listing Sub Reddits</h1>
<table class ='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_reddits.each do |sub_reddit| %>
      <tr>
        <td><%= link_to sub_reddit.name, sub_reddit  %></td>
        <td><%= sub_reddit.url %></td>
        <td><%= link_to 'Edit', edit_sub_reddit_path(sub_reddit), :class => 'btn btn-default' %>
        <%= link_to 'Destroy', sub_reddit, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<h4>Top 10 highest weighted relations</h4>
<table class ='table table-striped'>
  <thead>
    <tr>
      <th>Sub reddit</th>
      <th>Weight</th>
      <th>Sub reddit relation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @top_10_related_sub_reddits.each do |related_sub_reddit| %>
      <tr>
        <td><%= link_to related_sub_reddit.sub_reddit.name, related_sub_reddit.sub_reddit  %></td>
        <td><div class="progress">
            <div class="progress-bar" role="progressbar" data-transitiongoal="<%= related_sub_reddit.weight*100 %>"></div>
            </div>
        </td>
        <td><%= link_to related_sub_reddit.sub_reddit_relation.name, related_sub_reddit.sub_reddit_relation  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub reddit', new_sub_reddit_path %>
