<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h2 class="page-header text-primary">
    <strong>Subreddit Name:</strong>
    <%= @sub_reddit.name %>
  </h2>

  <p>
    <strong>Url:</strong>
    <%= @sub_reddit.url %>
  </p>

  <p>
    <strong>Latest Snapshot:</strong>
    <%= @sub_reddit.updated_at %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= @sub_reddit.document %>
  </p>

  <p>
    <strong>Bag of words:</strong>
    <%= @sub_reddit.bag_of_words %>
  </p>


  <strong>Word Cloud:</strong>
  <div id="example" style="width: 700px; height: 350px"></div>

  <div class='row'>
    <div class='sub-reddit'><!-- col-xs-4 col-sm-6 col-md-7 col-lg-8--><strong>Suggested Subreddits</strong></div>
    <div class='sub-reddit'><!-- col-xs-4 col-sm-4 col-md-3 col-lg-2--><strong>Relevance</strong></div>
    <div><!-- class='col-xs-2 col-sm-1 col-md-1 col-lg-1'-->&nbsp;</div>
    <div><!-- class='col-xs-2 col-sm-1 col-md-1 col-lg-1'-->&nbsp;</div>
  </div>
  
  <% if @sub_reddit.all_related_subreddit_relations.first && @sub_reddit.related_sub_reddits.count > 0 %>
      <% @sub_reddit.all_related_subreddit_relations.reverse.each do |related_sub_reddit| %>
        <div class='row'>
          <div><!-- class='col-xs-4 col-sm-6 col-md-7 col-lg-8'--><%= link_to related_sub_reddit.sub_reddit_relation.name, related_sub_reddit.sub_reddit_relation  %></div>
          <div><!-- class='col-xs-4 col-sm-4 col-md-3 col-lg-2'-->
            <div class="progress">
              <div class="progress-bar" role="progressbar" data-transitiongoal="<%= related_sub_reddit.weight*100 %>"></div>
            </div>
          </div>
          <div><!-- class='col-xs-2 col-sm-1 col-md-1 col-lg-1'--><%= link_to 'Edit', edit_related_sub_reddit_path(related_sub_reddit) %></div>
          <div><!-- class='col-xs-2 col-sm-1 col-md-1 col-lg-1'--><%= link_to 'Delete', related_sub_reddit, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
  <% end %>
  
  <%= link_to 'Edit', edit_sub_reddit_path(@sub_reddit) %> |
  <%= link_to 'Back', sub_reddits_path %>
</div>

<script type="text/javascript">
     // When DOM is ready...
     $(document).ready(function() {
       /*!
        * Create an array of word objects, each representing a word in the cloud
        */
       var word_array =
        <%= raw @bag_of_words_word_list.to_json %>;

       // Then select the container element and call the jQCloud method, passing the array of words as the first argument.
       $("#example").jQCloud(word_array);
     });
</script>
