<%= form_for(@related_sub_reddit) do |f| %>
  <% if @related_sub_reddit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@related_sub_reddit.errors.count, "error") %> prohibited this related_sub_reddit from being saved:</h2>

      <ul>
      <% @related_sub_reddit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sub_reddit_id %><br>
    <%= f.text_field :sub_reddit_id %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :sub_reddit_relation_id %><br>
    <%= f.text_field :sub_reddit_relation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
